*{
    box-sizing: border-box;
    margin: 0;
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

fieldset{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

fieldset > label{
    display: flex;
    margin-left:80px;
}

fieldset > p {
    margin-bottom: 10px;
}

fieldset > label > input {
    margin-right: 5px;
}